{% load share_icon %}
{% load static %}

<div class="container">
  <div class="row justify-content-md-left mt-5">
    <div class="col-sm"><label for="wikicode"><h3 class="px-0">WikiCode Export</h3></label></div>
  </div>
  <div class="row justify-content-md-left mt-0">
    <div class="col-xl"><textarea id="wikicode" class="codeExport" cols="500" rows="3">{{ wikicodeExport }}</textarea></div>
  </div>
  <div class="row mt-0">
    <div class="col-xl">
      <i>Presents the Single Table Summary in a format readable by Wikipedia</i>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row justify-content-md-left mt-5">
    <div class="col-sm">
      <label for="htmlembedexport"><h3 class="px-0">HTML Export</h3></label>
    </div>
  </div>
  <div class="row justify-content-md-left mt-1">
    <div class="col-sm">
      <label for="exportVistypeSelector">Visualization type: </label>
      <select class="form-control" id="exportVistypeSelector" onchange="switchVisTypeHTML('{{embedlyUrl}}', this.value);">
        <!-- Filled out by initializeOptions() -->
      </select>
    </div>
  </div>
  <div class="row justify-content-md-left mt-0">
    <div class="col-xl"><textarea id="htmlembedexport" class="codeExport" cols="500" rows="3"></textarea></div>
  </div>
  <div class="row mt-0">
    <div class="col-xl">
      <i>Uses an iframe to embed the interactive Bar Chart</i>
    </div>
  </div>
</div>


<div class="alert alert-primary alert-dismissible fade show" role="alert" id="copiedInfo" style="display:none" tooltip="help">
    <strong>Copied to clipboard!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container mb-5">
  <div class="row justify-content-md-left mt-5">
    <div class="col-sm">
      <label for="embedlyexport"><h3 class="px-0">Medium/Wordpress/Canva</h3></label>
    </div>
  </div>
  <div class="row justify-content-md-left mt-1">
    <div class="col-sm">
      <label for="exportVistypeSelector">Visualization type: </label>
      <select class="form-control" id="embedlyVistypeSelector" onchange="switchVisTypeEmbedly('{{embedlyUrl}}', this.value);">
        <!-- Filled out by initializeOptions() -->
      </select>
    </div>
  </div>
  <div class="row justify-content-md-left mt-0">
    <div class="col-xl"><textarea id="embedlyexport" class="codeExport" cols="500" rows="1"></textarea></div>
  </div>
  <div class="row mt-0">
    <div class="col-xl">
      <i>On sites that support embed.ly (including Medium, Wordpress, Canva, and more), you can just paste this URL</i>
    </div>
  </div>
</div>
